body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: aquamarine;
}

.boxClass {
  text-align: center;
  padding: 20px;
  height: 11rem;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: mediumslateblue;
}

button {
  height: 32px;
  width: 70px;
  margin-top: 2rem;
  background-color: antiquewhite;
}
